@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background-color: aqua;
  background-size: cover;
  padding: 50px;
  margin: 0;
}


a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: #1eff96; }

a:active { background: #26f39d; }


header{
  text-align: center;
}
head{
  text-align: center;
}
body{
  text-align: center;
}